body{background-color: purple;
color: yellow;
padding:10px;
margin-left: 15%;
margin-right: 15%;
font: 'Nunito'
}
#image {
	float:middle;
}
#description {
	float:right;
	width: 50%;

}
#reviews {
	clear: both;
	margin-top: 30px;
	padding-top: 30px;
}
#review {
	padding: 10px
	border-radius:15%;
	background-color: #5c0099; 
}
#subheader {
	font-size: 25;
	float:middle;
}